@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, customer!</h1>

<head>
	<link href="css/site.css?v=2" rel="stylesheet" />
	Welcome to your new app called Library Management
</head>

<SurveyPrompt Title="How is Blazor working for you?" />
